
li {
    color: blue;
}
p {
    color: chartreuse;
}
button {
    text-underline-position: below;
}
.names{
    text-align: center;
    color: #000;
}
.male{
    text-align: center;
    text-align: left;
}